{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "astrallaserburst"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/astraltear2.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
