{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "astrallaserburst"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/astraltear2.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 5.0,
      "delaySteps" : 2,
	  "harvestLevel" : 90
    }
  ]
}
