{
  "action" : "loop",
  "count" : 20,
  "body" : [
    {
      "action" : "option",
      "options" : [
        {
          "action" : "projectile",
          "inheritDamageFactor" : 1,
          "type" : "abyssslime_es",
          "fuzzAngle" : 180,
          "config" : {
            "speed" : 50
          }
        },
        {
          "action" : "projectile",
          "inheritDamageFactor" : 1,
          "type" : "abyssslime_es",
          "fuzzAngle" : 180,
          "config" : {
            "speed" : 40
          }
        },
        {
          "action" : "projectile",
          "inheritDamageFactor" : 1,
          "type" : "abyssslime_es",
          "fuzzAngle" : 180,
          "config" : {
            "speed" : 30
          }
        },
        {
          "action" : "projectile",
          "inheritDamageFactor" : 1,
          "type" : "abyssslime_es",
          "fuzzAngle" : 180,
          "config" : {
            "speed" : 20
          }
        },
        {
          "action" : "projectile",
          "inheritDamageFactor" : 1,
          "type" : "abyssslime_es",
          "fuzzAngle" : 180,
          "config" : {
            "speed" : 10
          }
        }
      ]
    }
  ]
}
