{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "destroyerexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/boss/destroyer_explosion.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 1.0,
      "delaySteps" : 2
    }
  ]
}
