{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "iongrenadeexplosion",
	  "config" : {
	    "power" : 10,
		"movementSettings" : {
		  "collisionEnabled" : false
		}
	  }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/ionblast.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 400.0,
      "delaySteps" : 2
    }
  ]
}
