{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "laserburst"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/plasma_shotgun1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 5.0,
      "delaySteps" : 2,
	  "harvestLevel" : 90
    }
  ]
}
