{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalsingularity_es"
    },
    {
	  "action" : "particle",
	  "specification" : {
        "type" : "textured",
        "image" : "/projectiles/boss/abyssartifactboss2_es/abyssalsingularity_es/abyssalsingularity.png",
        "position" : [0, 0],
        "layer" : "front",
		"angularVelocity" : 180,
		"light" : [101, 69, 126],
        "timeToLive" : 3.0,
        "destructionTime" : 0.5,
        "destructionAction" : "shrink",
        "fullbright" : true
      }
	}
  ]
}
