{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "projectile",
          "inheritDamageFactor" : 1,
          "type" : "lightningthrower",
          "angle" : 90,
          "fuzzAngle" : 180,
          "config" : {
            "speed" : 20,
			"power" : 50,
			"actionOnReap" : [
			  {
			    "action" : "config",
			    "file" : "/projectiles/explosions/lightningburst/lightningbursts.config"
			  }
			]
          }
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/boss/guardian_death_explosion.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 400.0,
      "delaySteps" : 2
    },
	{
	  "action" : "projectile",
	  "type" : "lightningboltexplosion",
	  "inheritDamageFactor" : 1,
	  "inheritSpeedFactor" : 0
	}
  ]
}
