{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "aegisaltexplosion",
      "delaySteps" : 30
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "preshortbeam",
      "config" : {
        "bounces" : -1
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "preshortbeam",
      "angleAdjust" : 90,
      "config" : {
        "bounces" : -1
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "preshortbeam",
      "angleAdjust" : 180,
      "config" : {
        "bounces" : -1
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "preshortbeam",
      "angleAdjust" : -90,
      "config" : {
        "bounces" : -1
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/charge_up15.ogg" ]
    }
  ]
}
