{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 2.5,
      "type" : "fusionexplosionlarge_es"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/fusionexplosion.ogg" ]
    },
    {
      "action" : "particle",
      "specification" : {
        "type" : "textured",
        "image" : "/animations/destroyerteleport/destroyerteleport.png:8",
        "position" : [0, 0],
        "layer" : "front",
        "timeToLive" : 0.0,
        "size" : 1,
        "destructionTime" : 0.25,
        "destructionAction" : "fade",
        "fullbright" : true
      }
    },
    {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/fusionfire/fusionfire.animation",
                "approach" : [0.5, 0.5],
                "size" : 2.0,
                "timeToLive" : 1.5,
                "variance" : {
                  "position" : [4, 4],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 12,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/fusionfire/fusionfire.animation",
                "approach" : [0.5, 0.5],
                "size" : 1.0,
                "timeToLive" : 1.5,
                "variance" : {
                  "position" : [8, 8],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
