{
  "action" : "projectile",
  "type" : "delayprojectile",
  "inheritDamageFactor" : 1,
  "config" : {
    "timeToLive" : 0,
    "actionOnReap" : [
      {
        "action" : "config",
        "file" : "/projectiles/explosions/fusionexplosionlarge_es/fusionexplosionlarge_es.config"
      }
    ]
  }
}
