{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "darkmatterexplosion_es",
      "config" : {
        "processing" : "?scalenearest=2"
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/astral_explosion.ogg" ]
    }
  ]
}
