{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "staticsingularity"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "darkmatterexplosion_es",
      "config" : {
        "processing" : "?scalenearest=2"
      }
    },
    {
      "action" : "projectile",
      "type" : "ngravityexplosion",
      "angle" : 0,
      "config" : {
        "speed" : 50
      }
    },
    {
      "action" : "projectile",
      "type" : "ngravityexplosion",
      "angle" : 45,
      "config" : {
        "speed" : 50
      }
    },
    {
      "action" : "projectile",
      "type" : "ngravityexplosion",
      "angle" : 90,
      "config" : {
        "speed" : 50
      }
    },
    {
      "action" : "projectile",
      "type" : "ngravityexplosion",
      "angle" : 135,
      "config" : {
        "speed" : 50
      }
    },
    {
      "action" : "projectile",
      "type" : "ngravityexplosion",
      "angle" : 180,
      "config" : {
        "speed" : 50
      }
    },
    {
      "action" : "projectile",
      "type" : "ngravityexplosion",
      "angle" : 225,
      "config" : {
        "speed" : 50
      }
    },
    {
      "action" : "projectile",
      "type" : "ngravityexplosion",
      "angle" : 270,
      "config" : {
        "speed" : 50
      }
    },
    {
      "action" : "projectile",
      "type" : "ngravityexplosion",
      "angle" : 315,
      "config" : {
        "speed" : 50
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/astraltear2.ogg" ]
    }
  ]
}
