{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Section 1",
      "planetName" : "Dark Abyss Dimension",
      "warpAction" : "InstanceWorld:abyssartifactdungeon",
      "icon" : "abyssartifactdungeon"
    },
    {
      "name" : "Section 1 - Boss",
      "planetName" : "Dark Abyss Dimension",
      "warpAction" : "InstanceWorld:abyssartifactdungeonboss",
      "icon" : "abyssartifactdungeon"
    },
    {
      "name" : "Section 2",
      "planetName" : "Dark Abyss Dimension",
      "warpAction" : "InstanceWorld:abyssartifactdungeon2=cpm1",
      "icon" : "abyssartifactdungeon2"
    },
    {
      "name" : "Intervention",
      "planetName" : "Dark Abyss Dimension",
      "warpAction" : "InstanceWorld:abyssartifactdungeonintervene",
      "icon" : "abyssartifactdungeon"
    },
    {
      "name" : "Section 2 - Boss",
      "planetName" : "Dark Abyss Dimension",
      "warpAction" : "InstanceWorld:abyssartifactdungeonboss2",
      "icon" : "abyssartifactdungeon2"
    }
  ]
}
