{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Nadir",
      "planetName" : "Dark Abyss Dimension",
      "warpAction" : "InstanceWorld:abyssartifactdungeon2=cpm1",
      "icon" : "abyssartifactdungeon2"
    }
  ]
}
