{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Supervoid Dimension",
      "planetName" : "Super Chaotic Void",
      "warpAction" : "InstanceWorld:supervoidbossworld",
      "icon" : "supervoid"
    }
  ]
}
