{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Supervoid Eye Arena",
      "planetName" : "No return; fight to the death",
      "warpAction" : "InstanceWorld:supervoidbossarena",
      "icon" : "supervoid"
    }
  ]
}
