{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssbubbleexplosion_es"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/poisonorb_break1.ogg", "/sfx/projectiles/poisonorb_break2.ogg" ]
    }
  ]
}
