{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "miningrelic2explosion",
	  "config" : {
	    "processing" : "?scale=1.5"
	  }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/miningrelic2_blast.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 7.0,
      "delaySteps" : 2,
	  "harvestLevel" : 90
    }
  ]
}
