{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "miningrelic2explosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/rocketblast1.ogg", "/sfx/gun/rocketblast2.ogg", "/sfx/gun/rocketblast3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 5.0,
      "delaySteps" : 2,
	  "harvestLevel" : 90
    }
  ]
}
