{
  "weapons" : {
    {
	  "name" : "^cyan;Handheld Ion Cannon^reset;",
	  "id" : "handheldioncannon",
	  "type" : "Ranged Weapon",
	  "elementalType" : "ion",
	  "tier" : 6,
	  "icon" : "handheldioncannonicon.png",
	  "stats" : {
	    "damage" : 23.1,
		"fireRate" : 5,
		"energy" : 6
	  },
	  "recipe" : {
	    {"item" : "Refined Aegisalt", "count" : 15},
		{"item" : "Battery", "count" : 4},
		{"item" : "Refined Ferozium", "count" : 15},
		{"item" : "Static Cell", "count" : 5},
		{"item" : "Solarium Star", "count" : 20}
	  }
	}
  },
  "biomes" : {
  
  },
  "craftingMaterials" : {
  
  },
  "tiles" : {
  
  },
  "monsters" : {
  
  },
  "bossMonsters" : {
  
  },
  "quests" : {
    
  }
}