{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "massiveinvisibleprojectile",
      "config" : {
        "power" : 500
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/boss/guardian_death_explosion.ogg" ]
    },
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "textured",
            "image" : "/particles/destroyereffect/destroyereffect.png",
            "position" : [0, 0],
            "layer" : "back",
            "timeToLive" : 7,
            "destructionTime" : 0,
            "destructionAction" : "fade",
            "fullbright" : true
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "textured",
            "image" : "/particles/destroyereffect/destroyereffect.png",
            "position" : [0, 0],
            "layer" : "front",
            "timeToLive" : 7,
            "destructionTime" : 0,
            "destructionAction" : "fade"
          }
        }
      ]
    },
    {
      "action" : "particle",
      "specification" : {
        "type" : "textured",
        "image" : "/animations/destroyerteleport/destroyerteleport.png:8",
        "position" : [0, 0],
        "layer" : "front",
        "timeToLive" : 0.0,
        "size" : 10,
        "destructionTime" : 2.0,
        "destructionAction" : "fade",
        "fullbright" : true
      }
    },
    {
      "action" : "projectile",
      "type" : "orbitalup",
      "config" : {
        "timeToLive" : 6.99,
        "speed" : 0,
        "onlyHitTerrain" : true,
        "movementSettings" : {
          "collisionEnabled" : false
        },
        "periodicActions" : [
          {
            "time" : 0.01,
            "action" : "projectile",
            "type" : "invisibleprojectile",
            "offsetRange" : [-60, -60, 60, 60],
            "config" : {
              "timeToLive" : 0,
              "power" : 0,
              "actionOnReap" : [
                {
                  "action" : "config",
                  "file" : "/projectiles/explosions/destroyerexplosion/destroyerexplosion2.config"
                }
              ]
            }
          },
          {
            "time" : 0.01,
            "action" : "projectile",
            "type" : "invisibleprojectile",
            "offsetRange" : [-20, -20, 20, 20],
            "config" : {
              "timeToLive" : 0,
              "power" : 0,
              "actionOnReap" : [
                {
                  "action" : "config",
                  "file" : "/projectiles/explosions/destroyerexplosion/destroyerexplosion2.config"
                }
              ]
            }
          },
          {
            "time" : 0.01,
            "action" : "projectile",
            "type" : "invisibleprojectile",
            "offsetRange" : [-10, -10, 10, 10],
            "config" : {
              "timeToLive" : 0,
              "power" : 0,
              "actionOnReap" : [
                {
                  "action" : "config",
                  "file" : "/projectiles/explosions/invisibleexplosion/invisibleexplosion.config"
                }
              ]
            }
          },
          {
            "time" : 0.01,
            "action" : "projectile",
            "type" : "invisibleprojectile",
            "offsetRange" : [-20, -20, 20, 20],
            "config" : {
              "timeToLive" : 0,
              "power" : 0,
              "actionOnReap" : [
                {
                  "action" : "config",
                  "file" : "/projectiles/explosions/invisibleexplosion/invisibleexplosion.config"
                }
              ]
            }
          }
        ],
        "actionOnReap" : [
          {
            "action" : "particle",
            "specification" : {
              "type" : "textured",
              "image" : "/animations/destroyerteleport/destroyerteleport.png:8",
              "position" : [0, 0],
              "layer" : "front",
              "timeToLive" : 0.0,
                "size" : 10,
              "destructionTime" : 2.0,
              "destructionAction" : "fade",
               "fullbright" : true
            }
          }
        ]
      }
    }
  ]
}
