{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.1,
      "type" : "astralexplosion",
	  "fuzzAngle" : 180
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/astral_explosion.ogg" ]
    },
	{
      "action" : "projectile",
      "inheritDamageFactor" : 0.1,
      "type" : "astralexplosion",
	  "fuzzAngle" : 180,
	  "delaySteps" : 5
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/astral_explosion.ogg" ],
	  "delaySteps" : 5
    },
	{
      "action" : "projectile",
      "inheritDamageFactor" : 0.1,
      "type" : "astralexplosion",
	  "fuzzAngle" : 180,
	  "delaySteps" : 10
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/astral_explosion.ogg" ],
	  "delaySteps" : 10
    },
	{
      "action" : "projectile",
      "inheritDamageFactor" : 0.1,
      "type" : "astralexplosion",
	  "fuzzAngle" : 180,
	  "delaySteps" : 15
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/astral_explosion.ogg" ],
	  "delaySteps" : 15
    },
	{
	  "action" : "loop",
	  "count" : 10,
	  "body" : [
	    {
		  "action" : "projectile",
		  "type" : "astrallaserburst",
		  "fuzzAngle" : 180,
		  "inheritDamageFactor" : 0.02,
		  "offsetRange" : [5, 5, -5, -5],
		  "config" : {
		    "periodicActions" : [
			  {
			    "time" : 0,
				"repeat" : false,
				"action" : "sound",
				"options" : ["/sfx/melee/astraltear2.ogg"]
			  }
			]
		  }
		}
	  ]
	}
  ]
}
