{
  "action" : "actions",
  "list" : [
    {
	  "action" : "projectile",
	  "type" : "delayprojectile",
	  "config" : {
	    "timeToLive" : 0.04,
		"actionOnReap" : [
		  {
		    "action" : "projectile",
			"type" : "invisibleprojectile",
			"config" : {
			  "timeToLive" : 1.32,
			  "onlyHitTerrain" : true,
			  "damageTeam" : {"type" : "friendly"},
			  "periodicActions" : [
			    {
				  "time" : 0.33,
    		      "action" : "loop",
    		      "count" : 20,
    		      "body" : [
    		        {
			  	      "action" : "projectile",
			  	      "type" : "invisibleprojectile",
			  	      "fuzzAngle" : 180,
			  	      "config" : {
			  	        "speed" : 50,
			  		    "power" : 3,
			  		    "piercing" : true,
			  		    "timeToLive" : 1,
						"damageTeam" : {"type" : "friendly"},
						"movementSettings" : {
						  "collisionEnabled" : false
						},
			  		    "periodicActions" : [
			  		      {
			  		        "time" : 0.08,
			  		  	    "action" : "particle",
			  		  	    "rotate" : true,
			  			    "specification" : {
			  			      "type" : "textured",
			  			      "image" : "/projectiles/activeitems/ancientlasershot/essence.png",
			  			      "position" : [0, 0],
			  			      "fullbright" : true,
			  			      "layer" : "middle",
			  			      "destructionAction" : "fade",
			  			      "timeToLive" : 0,
			  			      "destructionTime" : 0.8
			  			    }
			  		      }
			  	  	    ],
						"actionOnReap" : [
						  {
						    "action" : "projectile",
							"type" : "invisibleprojectile",
							"angleAdjust" : 180,
							"config" : {
							  "speed" : 50,
							  "power" : 10,
							  "piercing" : true,
							  "timeToLive" : 1,
							  "damageTeam" : {"type" : "friendly"},
							  "movementSettings" : {
							    "collisionEnabled" : false
							  },
			  		    	  "periodicActions" : [
			  		    	    {
			  		    	      "time" : 0.08,
			  		  		      "action" : "particle",
			  		  		      "rotate" : true,
			  				      "specification" : {
			  				        "type" : "textured",
			  				        "image" : "/projectiles/activeitems/ancientlasershot/essence.png",
			  				        "position" : [0, 0],
			  				        "fullbright" : true,
			  				        "layer" : "middle",
			  				        "destructionAction" : "fade",
			  				        "timeToLive" : 0,
			  				        "destructionTime" : 0.8
			  				      }
			  		    	    }
			  	  	    	  ]
							}
						  }
						]
			  	      }
			  	    }
    		      ]
    		    },
				{
				  "time" : 0.33,
				  "action" : "sound",
				  "options" : [ "/sfx/interface/hyperspace_end_shortened.ogg" ]
				},
				{
				  "time" : 0.33,
				  "action" : "projectile",
				  "type" : "aegisaltexplosion"
				}
			  ],
			  "actionOnReap" : [
			    {
				  "action" : "projectile",
				  "type" : "ancientvortex"
				}
			  ]
			}
		  }
		]
	  }
	},
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/essenceburst_windup.ogg" ]
    }
  ]
}
