{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "fusionexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/fusionexplosion.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 400.0,
      "delaySteps" : 2
    }
  ]
}
