{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "fusionexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/fusionexplosion_small1.ogg", "/sfx/projectiles/fusionexplosion_small2.ogg", "/sfx/projectiles/fusionexplosion_small3.ogg" ]
    },
    {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/fusionfire/fusionfireblue.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 1.5,
                "variance" : {
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 12,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/fusionfire/fusionfireblue.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 1.5,
                "size" : 0.5,
                "variance" : {
                  "position" : [4, 4],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
