{
  "action" : "loop",
  "count" : 2,
  "body" : [
    {
      "action" : "particle",
      "specification" : "ancientenergy1"
    },
    {
      "action" : "particle",
      "specification" : "ancientenergy2"
    },
    {
      "action" : "particle",
      "specification" : "ancientenergy3"
    }
  ]
}
