{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssexplosion_es",
      "direction" : [1, 0]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_abyss1.ogg", "/sfx/gun/grenadeblast_abyss2.ogg", "/sfx/gun/grenadeblast_abyss3.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "particle",
          "specification" : "abysssmoke2_es"
        }
      ]
    }
  ]
}
