{
  "action" : "option",
  "options" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 150
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 130
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 125
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 110
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 100
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 90
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 75
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 70
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 50
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 30
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 25
      }
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "abyssalcharge_es",
      "config" : {
        "speed" : 10
      }
    }
  ]
}
