{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "laserburstsmall",
      "config" : {
        "processing" : "?scalenearest=0.5"
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/plasma_shotgun1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
