{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "regularexplosionuniversal"
    },
    {
      "action" : "loop",
      "count" : 15,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/abysssmokelarge_es/abysssmokelarge_es.animation",
            "position" : [0, 0],
            "initialVelocity" : [0, 0],
            "finalVelocity" : [0, 7],
            "approach" : [0, 30],
            "timeToLive" : 2.0,
            "destructionTime" : 0.0,
            "variance" : {
              "initialVelocity" : [2, 2],
              "position" : [2, 2]
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/smallflame/smallflame.animation",
            "approach" : [0.5, 0.5],
            "timeToLive" : 0.6,
            "variance" : {
              "position" : [1.5, 1.5],
              "initialVelocity" : [1, 1],
              "timeToLive" : 0.15,
              "rotation" : 180
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/smoke/smoke.animation",
            "approach" : [0.5, 0.5],
            "timeToLive" : 0.6,
            "variance" : {
              "position" : [1.5, 1.5],
              "initialVelocity" : [1, 1],
              "timeToLive" : 0.15,
              "rotation" : 180
            }
          }
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 400,
      "delaySteps" : 2
    }
  ]
}
