{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "rainbowsuperexplosion_es",
	  "angle" : 0
    },
	{
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "rainbowsuperexplosion_es",
	  "angle" : 15
    },
	{
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "rainbowsuperexplosion_es",
	  "angle" : -15
    },
	{
	  "action" : "particle",
	  "specification" : "rainbowstar_es"
	},
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/plasmacannon_fire.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 400.0,
      "delaySteps" : 2
    }
  ]
}
