{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "calamitycannonexplosion"
    },
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
	      "time" : 0.01,
	      "action" : "particle",
	      "specification" : {
	        "type" : "ember",
	    	"color" : [227, 108, 68, 255],
	        "approach" : [10, 10],
	    	"initialVelocity" : [0, 0],
	    	"finalVelocity" : [0, 0],
	    	"timeToLive" : 0.5,
	    	"size" : 3,
	    	"destructionAction" : "fade",
	    	"destructionTime" : 0.5,
	    	"angularVelocity" : 1080,
	    	"variance" : {
	    	  "size" : 2,
			  "initialVelocity" : [20, 20]
	    	}
	      }
	    }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/mediumflamecalamity/mediumflamecalamity.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 1.5,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/mediumflamecalamity/mediumflamecalamity.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 1.5,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_fire1.ogg", "/sfx/gun/grenadeblast_fire2.ogg", "/sfx/gun/grenadeblast_fire3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "red"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
